[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'dumpzilla --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-dumpzilla.png
Name=Dumpzilla
Terminal=true
Type=Application
