[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'gnmap; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Gnmap
Terminal=true
Type=Application
