[Desktop Entry]
Version=1.0
Categories=Sniffing - Spoofing;
Exec=sh -c 'mitmproxy --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-mitmproxy.png
Name=Mitmproxy
Terminal=true
Type=Application
