[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=sh -c 'rtpflood --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Rtpflood
Terminal=true
Type=Application
