[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'sudo dracnmap; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Dracnmap
Terminal=true
Type=Application
