[Desktop Entry]
Version=1.0
Categories=Sniffing - Spoofing;
Exec=sh -c 'xspy --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Xspy
Terminal=true
Type=Application
