[Desktop Entry]
Version=1.0
Categories=Sniffing - Spoofing;
Exec=sh -c 'mitmdump --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-mitmdump.png
Name=Mitmdump
Terminal=true
Type=Application
