[Desktop Entry]
Version=1.0
Categories=Reporting;
Exec=sh -c 'magictree; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Magictree
Terminal=false
Type=Application
