Package: ignorant
Version: 1.0.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: Ignorant is a tool that allows you to check if a phone number is used on different sites like Snapchat, Instagram.
