[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'subbrute --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=SubBrute
Terminal=true
Type=Application
