Package: magictree
Version: 1.3.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: MagicTree is a penetration tester productivity tool. It is designed to allow easy and straightforward data consolidation, querying, external command execution and (yeah!) report generation.
