[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'intrace; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=InTrace
Terminal=true
Type=Application
