[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'cymothoa -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Cymothoa
Terminal=true
Type=Application
