Package: rainbowcrack
Version: 1.8.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: RainbowCrack is a general propose implementation of Philippe Oechslin's faster time-memory trade-off technique.
