Package: crowbar
Version: 1.0.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: Crowbar is a brute forcing tool that can be used during penetration tests.
