Package: rsmangler
Version: 1.5.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: RSMangler will take a wordlist and perform various manipulations on it.
