mkdir -p /opt/blackbuntu/information-gathering/
cd /opt/blackbuntu/information-gathering/toutatis/
chmod +x /opt/blackbuntu/information-gathering/toutatis/setup.py
python3 /opt/blackbuntu/information-gathering/toutatis/setup.py install
cd /
