Package: sublist3r
Version: 1.1.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: Sublist3r is a python tool designed to enumerate subdomains of websites using OSINT.
