[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'rsmangler --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Rsmangler
Terminal=true
Type=Application
