[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'dnsftp --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=DnsFTP
Terminal=true
Type=Application
