[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'hurl --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=hUrl
Terminal=true
Type=Application
