[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'truecrack --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=TrueCrack
Terminal=true
Type=Application
