[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'pwnat -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Pwnat
Terminal=true
Type=Application
