[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'eapmd5pass -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Eapmd5pass
Terminal=true
Type=Application
