[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'gpp-decrypt; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=GPP Decrypt
Terminal=true
Type=Application
