[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'ssh-audit --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=SSH Audit
Terminal=true
Type=Application
