Package: nishang
Version: 0.7.6
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: Nishang is a framework and collection of scripts and payloads which enables usage of PowerShell for offensive security, penetration testing and red teaming.
