[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'ddrescue --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Ddrescue
Terminal=true
Type=Application
