[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'linenum -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Linenum
Terminal=true
Type=Application
