[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'powersploit; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=PowerSploit
Terminal=true
Type=Application
