[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'rtc2rt; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Rtc2rt
Terminal=true
Type=Application
