[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'rtgen; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Rtgen
Terminal=true
Type=Application
