[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'rtmerge; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Rtmerge
Terminal=true
Type=Application
