[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'rtsort; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Rtsort
Terminal=true
Type=Application
