[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'rt2rtc; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Rt2rtc
Terminal=true
Type=Application
