[Desktop Entry]
Version=1.0
Categories=Reverse Engineering;
Exec=sh -c 'javasnoop; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Javasnoop
Terminal=false
Type=Application
