[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'dotdotpwn --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Dotdotpwn
Terminal=true
Type=Application
