[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'webtrace; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=WebTrace
Terminal=true
Type=Application
