Package: dirbuster
Version: 1.0.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: DirBuster is a multi threaded java application designed to brute force directories and files names on web/application servers.
