[Desktop Entry]
Version=1.0
Categories=Sniffing - Spoofing;
Exec=sh -c 'zaproxy; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-zaproxy.png
Name=Zaproxy
Terminal=false
Type=Application
