[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'sudo fluxion --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Fluxion
Terminal=true
Type=Application
