Package: webshells
Version: 1.1.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: A collection of webshells for ASP, ASPX, CFM, JSP, Perl, and PHP servers.
