[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=/usr/bin/java -jar /opt/blackbuntu/web-applications/dirbuster/dirbuster.jar
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Dirbuster
Terminal=false
Type=Application
