[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'pdf-parser --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=PDF Parser
Terminal=true
Type=Application
