[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'd2j-invoke --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=D2J Invoke
Terminal=true
Type=Application
