[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'd2j-apk-sign --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=D2J APK Sign
Terminal=true
Type=Application
