[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'd2j-jar2jasmin --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=D2J Jar2jasmin
Terminal=true
Type=Application
