[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'd2j-jasmin2jar --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=D2J Jasmin2jar
Terminal=true
Type=Application
