[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'd2j-std-apk --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=D2J Std APK
Terminal=true
Type=Application
