[Desktop Entry]
Version=1.0
Categories=Hardening;
Exec=sh -c 'd2j-jar-weaver --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=D2J Jar Weaver
Terminal=true
Type=Application
