Package: linenum
Version: 0.9.8
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: LinEnum is a simple bash script that performs common commands related to privilege escalation, saving time and allowing more effort to be put toward getting root.
