[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'smtp-user-enum; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=SMTPuser Enum
Terminal=true
Type=Application
