[Desktop Entry]
Version=1.0
Categories=Reporting;
Exec=sh -c 'metagoofil --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Metagoofil
Terminal=true
Type=Application
