[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=sh -c 'lbd; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Load Balancing Checker
Terminal=true
Type=Application
