Package: cymothoa
Version: 1.1.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: Cymothoa is a stealth backdooring tool, that inject backdoor's shellcode into an existing process.
