Package: cmsmap
Version: 1.0.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: CMSmap is a python open source CMS scanner that automates the process of detecting security flaws of the most popular CMSs.
