Package: crackle
Version: 0.1.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: crackle exploits a flaw in the BLE pairing process that allows an attacker to guess or very quickly brute force the TK (Temporary Key).
