[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'cmsmap --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-default.png
Name=Cmsmap
Terminal=true
Type=Application
